.drawer {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    max-width: 300px;
    box-sizing: border-box;
    background-color: #fff;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transition: all .22s ease-in;
    -webkit-transition: all .22s ease-in;
    -moz-transition: all .22s ease-in;
    -ms-transition: all .22s ease-in;
    -o-transition: all .22s ease-in;
    z-index: 90;
}

.drawer.close {
    transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
}

.drawer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.drawer ul li {
    margin-bottom: 15px;
}

.drawer ul li a {
    color: #363d54;
    font-size: 30px;
    text-decoration: none;
    background-color: #fff;
    position: relative;
    padding: 5px 20px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.drawer ul li a:hover, .active {
    opacity: .7;
    background-color: rgb(33, 65, 209);
    color: #fff;
}